<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/dragDropItem.css"/>
    </head>
    <body>
        <div class="d-flex justify-content-center">
            <ul class="target rounded-4" id="sortable">
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
                    <li class="empty"></li>
            </ul>
        </div>
    </body>
</html>


