<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/dragDropItem.css"/>
    </head>

    <body>
        <ul class="target d-flex justify-content-center" id="sortable">
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
        </ul>
    </body>
</html>
