<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Liste sous-catégories</title>
</head>
<body>

<!--Dropdowns sous-catégories-->
<select th:fragment="dropdownSousCategories">
  <option value="-1" >Sous-catégorie</option>
  <option th:each="sousCategorie : ${categorie.listeSousCategorie}"
          th:value="${sousCategorie.id}"
          th:text="${sousCategorie.nom}">
  </option>
</select>

<select  th:fragment="dropdownSousCategoriesVide" class="hidden">
    <option value="-1" ></option>
</select>
<!--Dropdowns sous-catégories-->



<!--Pictos sous-catégories page Echange-->
<li th:fragment="sousCategorieItems"
    th:each="sousCategorie : ${categorie.listeSousCategorie}" >
    <a>
        <img class="sousCategorieItem"
             th:data-souscategorie-id="${sousCategorie.id}"
             th:data-souscategorie-nom="${sousCategorie.nom}"
             th:data-size="${sousCategorie.listeMotsParSousCategorie.size()}"
             th:src="@{'/images/sous-categories/' + ${sousCategorie.pictoFile}}"/>
    </a>
</li>

<ul th:fragment="sousCategorieItemsVide" class="hidden">

</ul>
<!--Pictos sous-catégories page Echange-->



<!--Pictos Mots par catégorie page Echange-->
<li th:fragment="motItemsCat"
    class="item"
    th:each="mot : ${categorie.listeMotsParCategorie}"
    th:data-mot-id="${mot.id}"
    th:data-mot-nom="${mot.nom}"
    th:data-mot-tags="${mot.tags}"
    th:style="'background-image:url('+@{'/images/Mots/'+${mot.pictoFile}}+')'">
    <span class="closer"><i class="bi bi-trash"></i></span>
</li>
<!--Pictos Mots par catégorie page Echange-->



<!--Pictos Mots par sous-catégorie page Echange-->
<li th:fragment="motItemsSousCat"
    class="item"
    th:each="mot : ${sousCategorie.listeMotsParSousCategorie}"
    th:data-mot-id="${mot.id}"
    th:data-mot-nom="${mot.nom}"
    th:data-mot-tags="${mot.tags}"
    th:style="'background-image:url('+@{'/images/Mots/'+${mot.pictoFile}}+')'">
    <span class="closer"><i class="bi bi-trash"></i></span>
</li>
<!--Pictos Mots par sous-catégorie page Echange-->

<ul th:fragment="motItemsVide" class="hidden">

</ul>

<!--Pictos Mots page Echange-->


</body>
</html>