<html xmlns:th="http://www.thymeleaf.org">

  <head>
      <title>Liste Items Catégories</title>
      <link rel="stylesheet" href="/css/listeItemsCategories.css"/>
  </head>

  <body>
    <div class="d-flex justify-content-center">
        <ul class="categorieBox">
            <li th:each="categorie : ${categories}">
                <a>
                  <img class="categorieItem"
                       th:data-categorie-id="${categorie.id}"
                       th:data-size="${categorie.listeSousCategorie.size()}"
                       th:src="@{'/images/categories/' + ${categorie.pictoFile}}"/>
                </a>
            </li>
        </ul>
    </div>

    <div class="hidden justify-content-center" id="divSousCatItem">
        <ul class="categorieBox" id="sousCategorieItem">

        </ul>
    </div>

  </body>

</html>