<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Liste sous-catégories</title>
</head>
<body>

<select  th:fragment="listeSousCategories">
  <option value="-1" >Choisir une sous-catégorie</option>
  <option th:each="sousCategorie : ${categorie.listeSousCategorie}"
          th:value="${sousCategorie.id}"
          th:text="${sousCategorie.nom}">
  </option>
</select>

<select  th:fragment="listeSousCategoriesVide" class="hidden">

</select>

</body>
</html>