<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/ajoutMot.css"/>

<div th:fragment="modaleInfosMots"
     class="modal fade"
     id="modaleInfosMots"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="modaleInfosMotsLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modaleInfosMotsLabel">Consulter / modifier un mot</h1>
        <button type="button"
                id="closeModal"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button"
                id="modifMotButton"
                class="btn btn-primary">
          Modifier le mot
        </button>
        <button type="button"
                id="annulModifMotButton"
                class="btn btn-primary hidden">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

