<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Questions page Echange</title>
</head>

<div class="dropdown mt-3 d-flex justify-content-center rounded-4">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Choisir une question
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item">Question 1</a></li>
    <li><a class="dropdown-item">Question 2</a></li>
    <li><a class="dropdown-item">Question 3</a></li>
  </ul>
</div>

</html>