<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Side Bar</title>
  <link rel="stylesheet" href="/css/sidebar.css"/>
</head>


<div class="sidebar h-40 h-lg-100 d-flex justify-content-center align-items-center rounded-4 flex-lg-column flex-row">
  <button id="lecturePhrase" class="iconButton">
    <i class="bi bi-play-fill icons"></i>
  </button>
  <button id="mettreAuFutur" class="iconButton">
    <i class="bi bi-fast-forward-fill icons"></i>
  </button>
  <button id="mettreAuPasse" class="iconButton">
    <i class="bi bi-rewind-fill icons"></i>
  </button>
  <button id="lectureMotAmot" class="iconButton">
    <i class="bi bi-skip-end-fill icons"></i>
  </button>
  <button id="supprimerPictos" class="iconButton">
    <i class="bi bi-trash-fill icons"></i>
  </button>
</div>


</html>
