<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Side Bar</title>
  <link rel="stylesheet" href="/css/sidebar.css"/>
</head>


<div class="sidebar me-lg-3 mt-1 mt-lg-5 h-40 h-lg-100 d-flex justify-content-center align-items-center rounded-4 flex-lg-column flex-row">
  <div>
    <i class="bi-arrows-fullscreen iconButton" id="sideBarBurger"></i>
  </div>
  <button id="lecturePhrase" class="iconButton">
    <i class="bi bi-play-fill icons"></i>
  </button>
  <button id="mettreAuFutur" class="iconButton">
    <i class="bi bi-fast-forward-fill icons"></i>
  </button>
  <button id="mettreAuPasse" class="iconButton">
    <i class="bi bi-rewind-fill icons"></i>
  </button>
  <button id="lectureMotAmot" class="iconButton">
    <i class="bi bi-skip-end-fill icons"></i>
  </button>
  <button id="formeAffirmative" class="iconButton">
    <i class="bi bi-hand-thumbs-up-fill icons"></i>
  </button>
  <button id="formeNegative" class="iconButton">
    <i class="bi bi-hand-thumbs-down-fill icons"></i>
  </button>
  <button id="formeInterrogative" class="iconButton">
    <i class="bi bi-question-lg icons"></i>
  </button>
  <button id="supprimerPictos" class="iconButton">
    <i class="bi bi-trash-fill icons"></i>
  </button>
</div>


</html>
