.pictoCategorie{
    height: 110px;
    width:110px;
    border-radius:20%;
}

.pictoSousCategorie{
    height: 100px;
    width:100px;
    border-radius:17%;
}

.pictoMot{
     height: 95px;
     width:95px;
     border-radius:10%;
     cursor: pointer;
 }

input::placeholder {
  font-size: 12px;
}


