.navbar {
  background-color: #2F9DAE;
  height: 90px
}

.navbar-nav{
margin-right:5rem;
}

.nav-link {
 color: white !important;
}

.nav-link:hover{
color: #E5FF48 !important;
}

.active{
color: #E5FF48 !important;
}

.logo{
margin-left:7rem;
height:70px;
}

