.itemBox {
    width:80%;
    text-align: left;
    overflow: hidden;
    overflow-x: scroll;
    display:-webkit-inline-box;
}

.categorieItem {
    height: 7em;
    width:7em;
    margin: 10px;
    border-radius:20%;
    cursor: pointer;
}

.sousCategorieItem {
    height: 7em;
    width:7em;
    margin: 10px;
    border-radius:20%;
    cursor: pointer;
}

.motItem {
    height: 7em;
    width:7em;
    margin: 10px;
    border-radius:20%;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}


