.itemBox {
    width:80%;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    overflow-x: scroll;
    display:-webkit-inline-box;
}

.categorieItem {
    height: 120px;
    width:120px;
    margin: 10px;
    border-radius:20%;
    cursor: pointer;
}

.sousCategorieItem {
    height: 112px;
    width:112px;
    margin: 10px;
    border-radius:20%;
    cursor: pointer;
}

.motItem {
    height: 108px;
    width:108px;
    margin: 10px;
    border-radius:20%;
    cursor: pointer;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}


