.sidebar {
  background-color: #2F9DAE;
  margin-top: 6em;
  padding-top:1em;
  padding-bottom:1em;
  overflow-y: auto;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.6), inset 2px 2px 4px rgba(255, 255, 255, 0.6);
}


.iconButton {
  border:none;
  border-radius:50%;
  width:1.7em;
  font-size:1.8em;
  color:#F8F9FA;
  margin:0.2em;
  overflow-x: auto;
  transition: transform 0.2s;
}

.iconButton.clicked {
  transform: scale(0.95);
}

#lecturePhrase {
  background:#20C997;
  box-shadow: inset -2px -2px 4px rgba(18, 114, 86, 0.60), inset 2px 2px 4px #69E7C2;
}

#lectureMotAmot {
  background:#007bff;
  box-shadow: inset -2px -2px 4px #0e3d91, inset 2px 2px 4px rgba(0, 123, 255, .7);
}

#mettreAuFutur {
  background:#38b000;
  box-shadow: inset -2px -2px 4px #79c699, inset 2px 2px 4px #38b000;
}

#mettreAuPasse {
  background:#9E262D;
  box-shadow: inset -2px -2px 4px rgb(209, 13, 173), inset 2px 2px 4px #b34392;
}

#supprimerPictos{
  background:#de16a2;
  box-shadow: inset -2px -2px 4px #d01222, inset 2px 2px 4px rgb(188, 32, 48);
}