<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un mot</title>
    <link rel="stylesheet" href="/css/ajoutMot.css"/>
</head>
<body>
<div th:replace="~{components/navBar}"></div>

<div class="centerCheck">
    <h1>Ajouter un mot</h1>
<div class="d-flex">
    <div>
        <form th:action="@{/gestionDesMots/ajouterUnMot}"
              method="post"
              th:object="${mot}"
              enctype="multipart/form-data">
            <div>
                <input placeholder="Nouveau mot à ajouter"
                       type="text"
                       id="motAjout"
                       th:field="*{nom}"
                       name="motAjout"/>
            </div>
            <br>

            <select id="categorie" name="categorieId">
                <option value="-1" >Choisir une catégorie</option>
                <option th:each="categorie : ${categories}"
                        th:value="${categorie.id}"
                        th:text="${categorie.nom}"
                        th:sousCat="${categorie.listeSousCategorie.size()}">
                </option>
            </select>
            <br>

            <div class="hidden mt-3" id="divSousCat">
                <select name="sousCategorieId" id="sousCategorie">
                    <option value="-1" ></option>
                </select>
            </div>


            <br>

            <div class="d-flex flex-column">
                <label for="pictoFileImage">Sélectionner une image :</label>
                <input type="file" id="pictoFileImage" name="pictoFileImage" accept="image/*" />
            </div>
            <div>
                <br>
                <label>Tags</label>
                <ul style="list-style-type:none;">
                    <li th:each="tag : ${tags}">
                        <input class="tags"
                               th:id="${tag.nom}"
                               type="checkbox"
                               th:value="${tag.nom}"
                               name="selectedTags"/>
                        <label th:text="${tag.nom}"></label>
                    </li>
                </ul>
            </div>
            <br>

            <div id="formulaireIrregulier">
            </div>
            <br>
            <button type="submit">Ajouter</button>
        </form>
    </div>
</div>


</div>

<div th:replace="~{components/footer :: footer}"></div>



<script src="/js/checkboxFilter.js"></script>
<script src="/js/recupParCategorie.js"></script>


</body>
</html>