<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un mot</title>
    <link rel="stylesheet" href="/css/ajoutMot.css"/>
</head>
<body>
<div th:replace="~{components/navBar}"></div>
<link href="/css/admin.css" rel="stylesheet">
<h1 class="text-center mb-5 mt-4">Ajouter un mot</h1>

<form class="d-flex"
      th:action="@{/gestionDesMots/ajouterUnMot}"
      th:method="post"
      th:object="${mot}"
      enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div>
                    <div>
                        <input placeholder="Mot à ajouter"
                               type="text"
                               id="motAjout"
                               th:field="*{nom}"
                               name="motAjout"/>
                        <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" th:errorclass="error" ></p>
                    </div>
                </div>
                <br>

                <div>
                    <select id="categorie" name="categorieId">
                        <option value="-1" >Choisir une catégorie</option>
                        <option th:each="categorie : ${categories}"
                                th:value="${categorie.id}"
                                th:text="${categorie.nom}"
                                th:selected="${selectedCategorie != null && categorie.id == selectedCategorie.id}"
                                th:sousCat="${categorie.listeSousCategorie.size()}">
                        </option>
                    </select>
                    <p th:if="${selectedCategorie == null}" class="error" >Veuillez choisir une catégorie</p>
                </div>


                <div class="hidden mt-3" id="divSousCat">
                    <select name="sousCategorieId" id="sousCategorie">
                        <option value="-1" ></option>
                    </select>
                </div>

                <br><br>
                <div class="d-flex flex-column">
                    <label for="pictoFileImage">Sélectionner une image :</label>
                    <input type="file"
                           id="pictoFileImage"
                           name="pictoFileImage"
                           class="form-control form-control-sm"
                           accept="image/*" />
                    <p th:if="${noImage == true}" class="error" >Veuillez choisir une image</p>
                </div>
                <br>

            </div>

            <div class="col-12 col-lg-4">
                <label>Tags</label>
                <div>
                    <p th:if="${listeTagsSelection == null}" class="error" >Veuillez choisir au moins un tag</p>
                    <ul style="list-style-type:none;">
                        <li th:each="tag : ${tags}">
                            <input class="tags"
                                   th:id="${tag.nom}"
                                   type="checkbox"
                                   th:value="${tag.nom}"
                                   th:checked="${listeTagsSelection != null && #lists.contains(listeTagsSelection, tag)}"
                                   name="selectedTags"/>
                            <label th:text="${tag.nom}"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="formulaireIrregulier" class="col-12 col-lg-5">

            </div>
            <br>
        </div>
        <div class="row ">
            <div class="d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-primary mx-auto">
                    Ajouter
                </button>
            </div>

        </div>
    </div>
</form>

<div th:replace="~{components/footer :: footer}"></div>


<script th:inline="javascript">
    var listeTagsSelection = /*[[${listeTagsSelection}]]*/ null;
</script>
<script src="/js/checkboxFilter.js"></script>
<script src="/js/recupParCategorie.js"></script>


</body>
</html>