<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Informations du professionnel</title>
</head>

<body>
<div th:replace="~{components/navBar}"></div>
<link href="/css/admin.css" rel="stylesheet">
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Informations de contact du professionnel de santé</h3>
            <br>
            <h5 class="card-subtitle" th:text="'Service: ' + ${professionnel.service}">Service</h5>
            <a th:text="'Nom: ' + ${professionnel.nom}">Nom</a><br>
            <a th:text="'Prénom: ' + ${professionnel.prenom}">Prénom</a><br>
            <a th:text="'Email: ' + ${professionnel.email}">Email</a><br>
            <p th:text="'Téléphone: ' + ${professionnel.telephone}">Téléphone</p>
            <a class="btn btn-primary btn-sm" href="#" th:href="@{mailto:{to}(to=${professionnel.email})}">Envoyer un Email</a>
        </div>
    </div>
    <div class="container" >
        <table class="table">
            <thead>
            <th scope="col">Numéro du dossier médical</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
             <th scope="col">Date de naissance</th>
            </thead>
            <tbody>
            <tr th:each="dossierMedical : ${dossierMedicals}">
                <td th:text="${dossierMedical.id}">Numéro du dossier médical</td>
                <td th:text="${dossierMedical.nom}">Nom du patient</td>
                <td th:text="${dossierMedical.prenom}">Prénom du patient</td>
                <td th:text="${dossierMedical.dateNaissance}">Date de naissance</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="~{components/footer :: footer}"></div>

</body>

</html>