<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Informations du dossier médical</title>
</head>

<body>
<div th:replace="~{components/navBar}"></div>
<link href="/css/admin.css" rel="stylesheet">
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Informations du dossier médical du patient</h3>
            <br>
            <h5 class="card-subtitle" th:text="'Progression: ' + ${dossierMedical.progression}">Service</h5>
            <a th:text="'Nom: ' + ${dossierMedical.nom}">Nom</a><br>
            <a th:text="'Prénom: ' + ${dossierMedical.prenom}">Prénom</a><br>
            <a th:text="'Date de naissance: ' + ${dossierMedical.dateNaissance}">Date de naissance</a><br>
            <p th:text="'Statistique: ' + ${dossierMedical.statistique}">Statistiques</p>
        </div>
    </div>
    <div class="container" >
        <table class="table">
            <thead>
            <th scope="col">Id Phrase</th>
            <th scope="col">Audio</th>
            <th scope="col">Score</th>
             <th scope="col">Date de création</th>
            </thead>
            <tbody>
            <tr th:each="phrase : ${phrases}">
                <td th:text="${phrase.id}">Id Phrase</td>
                <td th:text="${phrase.audio}">Audio</td>
                <td th:text="${phrase.score}">Score</td>
                <td th:text="${phrase.createdAt}">Date de création</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="~{components/footer :: footer}"></div>

</body>

</html>