<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un mot</title>
    <link rel="stylesheet" href="/css/ajoutMot.css"/>

</head>
<body>
<div th:replace="~{components/navBar :: navBar}"></div>

<div class="centerCheck">
    <h1>Ajouter un mot</h1>

    <form th:action="@{/gestionDesMots/ajouterUnMot}"
          method="post"
          th:object="${mot}">
      <div>
         <input placeholder="Nouveau mot à ajouter"
                type="text"
                id="nomMotAjout"
                th:field="*{nom}"
                name="nomMotAjout"/>
      </div>
      <br>

          <select id="categorie" name="categorieId">
              <option value="-1" >Choisir une catégorie</option>
              <option th:each="categorie : ${categories}"
                      th:value="${categorie.id}"
                      th:text="${categorie.nom}">
              </option>
          </select>
      <br>
           <select name="sousCategorieId" id="sousCategorie" class="hidden">

           </select>

      <br>
        <div>
         <input placeholder="Nom du fichier image"
                type="text"
                id="pictoFile"
                th:field="*{pictoFile}"
                name="pictoFile"/>
      </div>
      <div>
          <br>
          <label>Tags</label>
          <ul style="list-style-type:none;">
              <li th:each="tag : ${tags}">
                  <input class="tags"
                         th:id="${tag.nom}"
                         type="checkbox"
                         th:field="*{tags}"
                         th:value="${tag.nom}" />
                  <label th:text="${tag.nom}"></label>
              </li>
          </ul>
      </div>
        <br>
        <div class="hidden">
            <div th:replace="~{components/formulairesIrreguliers :: verbeIrregulier}"/>
        </div>

        <div class="hidden">
            <div th:replace="~{components/formulairesIrreguliers :: nomIrregulier}"/>
        </div>

        <div class="hidden">
            <div th:replace="~{components/formulairesIrreguliers :: adjectifIrregulier}"/>
        </div>

        <br>
            <button type="submit">Ajouter</button>
    </form>
</div>

<div th:replace="~{components/footer :: footer}"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/checkboxFilter.js"></script>
<script src="/js/recupSousCategories.js"></script>


</body>
</html>