<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/inscription.css"/>
</head>
<body>
<div class="main">
    <form th:action="@{/api/auth/signup}" method="post">
        <div class="container a-container" id="a-container">
            <div class="switch__container">
                <h2 class="form_title title">Coordonnées personnelles</h2>
                <div>
                    <input class="form__input" type="text" name="nom" placeholder="Nom*" required autofocus>
                </div>
                <div>
                    <input class="form__input" type="text" name="prenom" placeholder="Prénom*" required autofocus>
                </div>
                <div>
                    <input class="form__input" type="text" onfocus="(this.type='date')" name="dateNaissance" placeholder="Date de naissance*" required
                           autofocus>
                </div>
                <div>
                    <input class="form__input" type="text" name="service" placeholder="Service/Département médical"
                           required
                           autofocus>
                </div>
                <div>
                    <input class="form__input" type="password" name="email" placeholder="Email*" required>
                </div>
                <div>
                    <input class="form__input" type="password" name="telephone" placeholder="Numéro de téléphone"
                           required>
                </div>
                (*mentions obligatoires)
            </div>
        </div>
        <div class="switch" id="connexion switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <img th:src="@{/images/Logos/Logo PNG.png}" alt="" width="140px">
                <h2 class="form_title title">Identifiants</h2>
                <div class="pss">
                    <input class="form__input" type="text" name="username" placeholder="Pseudonyme*" required autofocus>
                </div>

                <div>
                    <input class="form__input" type="password" name="password" placeholder="Mot de Passe*" required>
                </div>
                <div class="pss">
                    <input class="form__input" type="password" name="passwordConfirm"
                           placeholder="Confirmer le Mot de Passe*" required>
                </div>
                <div>
                    <a th:href="@{/login}" class="form__link">Déjà inscrit ?</a>
                </div>
                <div>
                    <button type="submit" id="logIn" class="switch__button button switch-btn a-button">S'inscrire
                    </button>
                </div>

            </div>
        </div>
    </form>
    <br>
</div>
</body>
</html>