<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Echec de la modification du compte</title>
    <link rel="stylesheet" href="/css/succesEchec.css"/>
    <link rel="icon" type="favicon" th:href="@{/images/Logos/Logo.png}"/>
</head>
<body>
<div class="main">
    <div class="container a-container" id="a-container">
        <form class="form" id="a-form">
            <h1 class="switch__title title-2">Echec de la modification du compte !</h1>
            <p class="switch__description description">Une erreur est survenue lors de la modification du compte.</p>
            <br>
            <p class="switch__description description">Veuillez recommencer l'opération.</p><br>
            <a th:href="@{/compte}" class="switch__button button-i switch-btn a-button" type="button">
                <p>Retourner sur mon compte</p>
            </a>
        </form>
        <div class="droit padding-b">
            <p>© Tous droits réservés -
                <span class="PBlue">P</span>icto<span class="PRouge">P</span>icto® 2023</p>
        </div>
        <div class="footer underline padding-b">
            <a th:href="@{/mentions}">Mentions légales
            </a>
            <p class="space">
                |
            </p>
            <a th:href="@{/partners}">
                Partenaires
            </a>
            <p class="space">
                |
            </p>
            <a th:href="@{/a_propos}">
                A Propos
            </a>
        </div>
    </div>
</div>
</body>
</html>